<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> <%if(index){%> article-index<%}%>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <% if (post.link || post.title) { %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <%- partial('post/right-header') %>
      </header>
    <% } %>
    <% var showMore = false; var hasContent = post.content.length > 0; %>
    <div class="article-entry" itemprop="articleBody">
      <% if (!is_post() && hasContent) { %>
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
          <% showMore = true %>
        <% } else if ((typeof theme.auto_excerpt_lines === 'number') && (theme.auto_excerpt_lines > 0)) { %>
          <% var numOfBreaks = 0 %>
          <% var charIndex = 0 %>
          <% for (i = 0; i < post.content.length; i++) { %>
            <% charIndex++ %>
            <% if (post.content[i] === '\n') { %>
              <% if (++numOfBreaks >= theme.auto_excerpt_lines) { %>
                <% break %>
              <% } %>
            <% } %>
          <% } %>
          <% showMore = numOfBreaks >= theme.auto_excerpt_lines %>
          <% let excerptContent = showMore ? (post.content.substring(0, charIndex)) : post.content %>
          <%- excerptContent %>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
      <% if(is_post() && hasContent && !theme.copyright_hidden) { %>
            <%- partial('post/copyright', null, {cache: !config.relative_link}) %>
      <% } %>
      <% if (is_post() && hasContent && (theme.reward_type === 2 || (theme.reward_type === 1 && post.reward))){ %>
        <div class="page-reward">
          <a href="javascript:;" class="page-reward-btn tooltip-top">
            <div class="tooltip tooltip-east">
            <span class="tooltip-item">
              赏
            </span>
            <span class="tooltip-content">
              <span class="tooltip-text">
                <span class="tooltip-inner">
                  <p class="reward-p"><i class="icon icon-quo-left"></i><%= theme.reward_wording%><i class="icon icon-quo-right"></i></p>
                  <div class="reward-box">
                    <% if(theme.alipay) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.alipay%>">
                      <span class="reward-type">支付宝</span>
                    </div>
                    <% } %>
                    <% if(theme.weixin) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.weixin%>">
                      <span class="reward-type">微信</span>
                    </div>
                    <% } %>
                  </div>
                </span>
              </span>
            </span>
          </div>
          </a>
        </div>
      <% } %>
    </div>
    <div class="article-info article-info-index">
      <% if (post.top) { %>
        <div class="article-pop-out tagcloud">
          <i class="icon-tuding"></i>
          <a class="article-tag-list-link color3">置顶</a>
        </div>
      <% } %>
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (!is_post()) { %>
        <p class="article-more-link">
          <a class="article-more-a" href="<%- url_for(post.path) %>"><%= showMore ? theme.show_all_link : theme.show_original %>-></a>
        </p>
      <% } %>

      <% if (is_post() && hasContent && theme.share_jia){ %>
        <%- partial('post/share', null, {cache: !config.relative_link}) %>
      <% } %>
      <div class="clearfix"></div>
    </div>
  </div>
</article>
<% if (is_post()){ %>
  <%- partial('post/nav') %>
  <% if (hasContent) { %>
    <%- partial('_partial/aside') %>
  <% } %>
<% } %>
<% if (is_post() && post.comments && theme.livere){ %>
    <%- partial('post/livere') %>
<% } %>
